#cs1300-gallery {
  padding: 2em;
  background-color: rgb(255, 231, 209);
  text-align: center;
}

h1, h3 {
  color: rgb(86, 52, 22)
}

img {
  width: 18em;
  height: 18em;
  border-radius: 1em;
}

.picture-container {
  background-color: rgb(217, 178, 142);
  width: fit-content;
  padding: 1em;
  border-radius: 1.5em;
  margin: 1em;
  display: inline-block;
  box-shadow: 5px 8px rgb(183, 136, 95);


  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.gallery-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
}
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-16px);
		-ms-transform:     translateY(-16px);
		transform:         translateY(-16px)
	}
	60% {
		-webkit-transform: translateY(-8px);
		-ms-transform:     translateY(-8px);
		transform:         translateY(-8px)
	}
}
.picture-container:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

